.acquisition-items-container {
  padding: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.acquisition-item-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
}

.input {
  margin-top: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #F56692;
  border-color: #F56692;
  box-shadow: unset; }

.error {
  color: red;
  margin-top: 10px;
}

.acquisition-items-list {
  margin-top: 5px;
}

.acquisition-items-list ul {
  list-style-type: none;
  padding: 0;
}

.acquisition-items-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


