.new-offer-container {
  padding: 20px;
}

.card {
  background: linear-gradient(117.76deg, rgba(255, 255, 255, 0.7) -7.21%, rgba(255, 255, 255, 0.5) 118.08%);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
  margin: 20px 0;
  margin-top: 100px;
  margin-left: 270px;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.new-offer-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
}

.input {
  margin-top: 5px;
}

.btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #F56692;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #f34278;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}
