body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

button {
  background-color: #F56692;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button.signup-button {
  background-color: #F56692;
  border-color: #f23670;
}

.btn-primary {
  background-color: #F56692;
  border-color: #f23670;
  color: #fff;
}
